[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npx prisma generate"]

[start]
cmd = "npx prisma generate && npx prisma db push --accept-data-loss && node server.js"


